{# src/Mdy/GstBundle/Resources/views/Gst/Intervention/list.html.twig #}

{% extends ("MdyCoreBundle::layout.html.twig") %}

{% block contenu %}
	{% for message in app.session.flashbag.get('info') %}
		<p>{{ message }}</p>
	{% endfor %}

<h3>Liste des utilisateurs</h3>
<a href="{{ path("mdy_user_add")}}"><button class="btn btn-primary">Ajouter un utilisateur</button></a>
{% if listUsers is not empty %}
	<table class="table table-striped">
	<tr><th>Username</th><th>Rôles du user</th><th>État</th><th>Action</th></tr>
	{% for user in listUsers %}
		<tr>
			<td>[{{user.id}}]  {{ user.username }}</td>
			<td>{% for role in user.roles %}
				{{ role }}<br>
			{% endfor %}
			</td>
			<td>{% if user.enabled == true %}Actif{% else %}Inactif{%endif%}
			</td>
			<td><a href="{{ path("mdy_user_edit", {'id': user.id})}}"><span class="glyphicon glyphicon-edit"></span></a><a href="{{ path("mdy_user_delete", {'id' : user.id}) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
		</tr>
	{% endfor %}
	</table>
{% else %}
<p class="warning">Aucun utilisateur a afficher.</p>
{% endif %}
{% endblock %}